@{
    ViewData["Title"] = "Hakkında";
}
<div class="about-container">
<h3>Uygulama Hakkında</h3>
<p>HavaDurumu.net, şehirler bazında hava durumu tahminlerini sunan bir uygulamadır.</p>
<p>Bu proje, kullanıcıların hava durumu verilerini öğrenebilmesi için OpenWeather API'si kullanarak bir hava durumu uygulaması geliştirmeyi amaçlamaktadır. Uygulama, kullanıcıların şehir adı girerek, o şehre ait haftalık hava durumu verilerini alıp görsel olarak sunmaktadır.

Geliştirilen sistem, öncelikle şehirlerin koordinat bilgilerini alarak bu veriyi OpenWeather API'ye iletmekte ve API'den alınan veriyi işleyerek kullanıcılara sunmaktadır. Haftalık hava durumu bilgileri, sıcaklık, hava durumu açıklamaları ve tarih bilgisi gibi detayları içermektedir. Uygulama, kullanıcı dostu bir arayüz ile tasarlanmıştır ve dinamik olarak hava durumu verilerini çekmektedir.

Bu projeyle kullanıcılar, sadece bir şehir adı girerek haftalık hava durumu tahminlerine kolayca erişebilirler.</p>

</div>

<div class="contact-container">
<h4>İletişim Bilgileri</h4>
<ul>
    <li>Email: ulas.karaaslan@icloud.com</li>
    <li>Telefon: +90 555 555 5555</li>
</ul>
</div>

<div class="about-footer" style="padding-left: 20px;">
    <p>Uygulama, Ulaş Karaaslan tarafından geliştirilmiştir.</p>
       <a href="https://www.linkedin.com/in/ulas-karaaslan/" target="_blank">LinkedIn Profilim</a>
<a href="https://github.com/ulaskrsln" target="_blank">GitHub Profilim</a>
</div>